div.tldr-scroll{ 
    background-color: #F6F6F6; 
    width: 420px; 
    height: 210px; 
    overflow-x: hidden; 
    overflow-y: auto;
    text-align: center; 
    padding: 20px;
    right: 20px;
    top: 20px;
    position: fixed;
    font-size: 16px;
    z-index: 99999999; /*to order to the front should look into*/
    border: 0px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-height: calc(100vh - 40px);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.49);
    color: rgb(30,30,30);
    }

.tldr-iconDiv{
    margin-bottom: 10px;
    display: inline-block;
}